$table-border: #E5E7E9;
$table-border-alt: #D7DBDD;
$col-dark: #2C3E50;
$col-dark-alt: #566573;
$col-blue-dark: #34495E;
$col-blue-dark-alt: #5D6D7E;
$col-blue: #2980B9;
$col-blue-rgba: #297fb98e;
$col-blue-alt: #3498DB;
$col-blue-alt-rgba: #3498db88;
$col-orange: #D35400;
$col-orange-alt: #E67E22;
$text-white: #FDFEFE;